#sidebar {
  display: flex;
  flex-direction: column;
}

.box-btn-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.btn-tag {
  display: flex;
  -webkit-appearance: none;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--font-color-3);
  width: 90%;
  height: 100%;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 15px;
}

.btn-tag:checked {
  /* background-color: var(--primary-color); */
  background-color: var(--checked-tag);
}

.btn-tag:checked ~ .label-tag {
  color: var(--font-color-4); /* 2 */
}

.btn-tag::before {
  content: "";
  display: flex;
  width: 25px;
  height: 25px;
  background-color: var(--font-color-3);
  -webkit-mask-image: url("../assets/svg/square.svg");
  mask-image: url("../assets/svg/square.svg");
  background-size: cover;
}

.btn-tag:checked::before {
  background-color: var(--font-color-4); /* 2 */
  -webkit-mask-image: url("../assets/svg/check-square.svg");
  mask-image: url("../assets/svg/check-square.svg");
  background-size: cover;
}

.label-tag {
  display: flex;
  position: absolute;
  pointer-events: none;
  margin-left: 40px;
  width: 90%;
}
