.box-btn-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.btn-categoria {
  display: flex;
  -webkit-appearance: none;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--foreground);
  color: var(--text-color-3);
  width: 100%;
  height: 100%;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 15px;
}

.btn-categoria:checked {
  background-color: var(--checked-categoria);
}

.btn-categoria::before {
  content: "";
  display: flex;
  width: 25px;
  height: 25px;
  background-color: var(--font-color-3);
  -webkit-mask-image: url("../assets/svg/plus-circle.svg");
  mask-image: url("../assets/svg/plus-circle.svg");
  background-size: cover;
}

.btn-categoria:checked::before {
  background-color: var(--font-color-3);
  -webkit-mask-image: url("../assets/svg/minus-circle.svg");
  mask-image: url("../assets/svg/minus-circle.svg");
  background-size: cover;
}

.label-categoria {
  display: flex;
  position: absolute;
  margin-left: 20px;
}
