.box-btn-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.btn-categoria {
  display: flex;
  -webkit-appearance: none;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--text-color-3);
  width: 90%;
  height: 100%;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 15px;
}

.btn-categoria:checked {
  background-color: var(--primary-color);
}

.btn-categoria::before {
  content: "";
  display: flex;
  width: 25px;
  height: 25px;
  background-color: var(--color-3);
  -webkit-mask-image: url("../assets/svg/plus-circle.svg");
  mask-image: url("../assets/svg/plus-circle.svg");
  background-size: cover;
}

.btn-categoria:checked::before {
  background-color: var(--color-1);
  -webkit-mask-image: url("../assets/svg/minus-circle.svg");
  mask-image: url("../assets/svg/minus-circle.svg");
  background-size: cover;
}

.label-categoria {
  display: flex;
  position: absolute;
  pointer-events: none;
  margin-left: 40px;
  width: 90%;
}

.btn-categoria:checked ~ .label-categoria {
  color: var(--color-1);
}
