#box-conteudo {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

#conteudo-carrinho {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
}

#box-titulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

#btn-limpar-carrinho {
	height: 100%;
	width: 150px;
	margin-right: 40px;
	background-color: var(--primary-color);
}

#btn-limpar-carrinho:hover {
	background-color: var(--color-6);
}

#total-carrinho {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 50px 25px;
	width: 30%;
	height: calc(60% - 40px);
	border-radius: 2%;
}

.box-produto {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 30px;
	width: calc(100% - 60px);
	height: 60px;
	color: var(--color-3);
	margin-bottom: 5px;
}

#imagem-produto {
	height: 60px;
	width: 60px;
}

#nome-valor-produto {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: var(--font);
	margin-left: 10px;
	height: 100%;
	width: 70%;
}

#nome-produto {
	font-size: 18px;
}

#valor-produto {
	font-size: 16px;
}

#box-botoes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 135px;
	height: 100%;
}

.btn-qntd {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--tertiary-color);
	color: var(--color-1);
	font-size: 18px;
	padding: 0;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	cursor: pointer;
}

#input-qntd {
	padding: 0;
	text-align: center;
	width: 30px;
	height: 25px;
	background-color: var(--secondary-color);
	color: var(--color-3);
	font-size: 14px;
	border-bottom: 1px solid var(--tertiary-color);
}

#btn-remover {
	padding: 1px;
}

#btn-remover:hover {
	background-color: var(--color-6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#titulo-total-carrinho, #subtotal-carrinho {
	font-family: var(--font);
	color: var(--color-3);
	font-size: 26px;
	margin-left: 20px;
}

#subtotal-carrinho {
	display: flex;
	justify-content: space-between;
}

#titulo-total-carrinho {
	margin-top: 10%;
	text-align: center;
}

#valor-total-carrinho {
	font-size: 24px;
	margin-right: 20px;
}

#btn-finalizar-compra {
	width: 90%;
	align-self: center;
}

#popup-conteudo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-table {
	width: 100%;
}

.div-thead {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--primary-color);
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.div-tbody {
	height: 150px;
	overflow-y: auto;
}

.span-th {
	text-align: center;
}

.span-td {
	text-align: center;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
}

.span-tr {
	display: flex;
	height: 30px;
	width: 100%;
}

#qntd-produto {
	width: 15%;
}

#nome-produto.span-td,
#nome-produto.span-th {
	width: 55%;
	padding-left: 20px;
	text-align: left;
}

#valor-produto {
	width: 30%;
}

#separador-popup {
	width: 100%;
	margin: 10px 0;
}

#box-valor-total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	font-family: var(--font);
	font-size: 16px;
}
