:root {
	--background-header: #4CAD4A;
	--foreground: #f8f8f8;
  --checked-categoria: #e9e9e9;
  --checked-tag: #4CAD4A;
	--hover-color-produto: #4CAD4A;
	--font: 'Rowdies', cursive;
	--font-color-1: #f8f8f8;
	--font-color-2: #4CAD4A90;
	--font-color-3: #282828;
	--color-shadow: #28282860;
}

.dark_mode:root {
	--foreground: #282828;
  --checked-categoria: #414141;
	--font-color-2: #f8f8f890;
	--font-color-3: #f8f8f8;
	--color-shadow: #f8f8f860;
}
