:root {
	--primary-color: #097d1c;
	--secondary-color: #f8f8f8;
	--tertiary-color: #097d1c;	/* Sempre verde */
	--color-shadow: #28282860;
	--font: 'Rowdies', cursive;
	--color-1: #f8f8f8;		/* Sempre branco */
	--color-2: #097d1c90;
	--color-3: #282828;
	--color-4: #282828;		/* Sempre preto */
	--color-5: #e9e9e9;
}

.dark_mode:root {
	--primary-color: #282828;
	--secondary-color: #000000;
	--color-shadow: #f8f8f860;
	--color-2: #f8f8f890;
	--color-3: #f8f8f8;
}
