body {
	background-color: var(--secondary-color);
}

#header {
	display: block;
	position: fixed;
	padding-top: 1%;
	background-color: var(--primary-color); /* 1 */
	width: 100%;
	height: auto;
	z-index: 1;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: var(--color-1);
}

#title-header {
	margin-left: 1%;
	color: var(--color-1);
	font-size: xx-larger;
	font-family: var(--font);
}

#form-busca {
	display: flex;
	width: 60%;
}

#busca {
	position: relative;
	top: 50%;
	margin-left: 1%;
	margin-bottom: 3%;
	padding-left: 1%;
	width: 100%;
	font-size: large;
	line-height: 30px;
	border: none;
	border-radius: 5px 0 0 5px;
	color: var(--color-3);
	background-color: var(--secondary-color);
	font-family: var(--font);
}

#busca::placeholder {
	color: var(--color-2);
}

#opcoes-busca {
	display: flex;
	flex-direction: row;
	background-color: var(--secondary-color);
	height: 32px;
	border-radius: 0 5px 5px 0;
}

#btn-busca {
	padding: 0;
	border: none;
	border-radius: 0 5px 5px 0;
	width: 30px;
	height: 32px;
	cursor: pointer;
	background-color: var(--secondary-color);
}

#btn-busca svg {
	stroke: var(--color-2);
}

#btn-filtro {
	width: 30px;
	height: 32px;
	cursor: pointer;
	border: none;
}

#btn-filtro[type="checkbox"] {
	-webkit-appearance: none;
	background-color: var(--color-2);
	-webkit-mask-image: url("../assets/svg/filter.svg");
	mask-image: url("../assets/svg/filter.svg");
	background-size: cover;
}

#btn-filtro:checked[type="checkbox"] {
	background-color: var(--color-2);
	-webkit-mask-image: url("../assets/svg/filter-check.svg");
	mask-image: url("../assets/svg/filter-check.svg");
	background-size: cover;
}

.icon {
	fill: var(--color-1);
	stroke: var(--color-1);
	width: 30px;
	height: 30px;
}

#opcoes {
	display: flex;
	justify-content: space-around;
	position: absolute;
	margin-right: 10px;
	width: 200px;
	height: 50px;
	right: 0;
	top: 40%;
}

#opcoes label {
	color: var(--color-1);
	font-family: var(--font);
	cursor: pointer;
}

#box-user {
	display: flex;
	width: 50px;
	height: 50px;
	flex-direction: column;
	align-items: center;
}
