* {
	margin: 0%;
	padding: 0%;
	outline: none;
	border: none;
}

#box-conteudo h1 {
	display: flex;
	margin: 5px 25px;
}

.content {
	display: flex;
	justify-content: space-between;
}

#box-imagens {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

#box-imagens img {
	width: 400px;
	height: 400px;
}

form {
	width: 50vw;
	margin: 1% 2%;
	height: 100%;
}

form input, select, #btn-select-tags {
	background-color: var(--secondary-color);
	color: var(--color-3);
	padding: 10px;
	margin-bottom: 15px;
	width: calc(100% - 24px);
	border: 1px solid var(--tertiary-color);
	border-radius: 5px;
}

option {
	background-color: var(--primary-color);
	color: var(--color-1);
	padding: 5px 10px;
	font-size: 14px;
}

.duas-colunas input, select {
	width: 45%;
}

input::placeholder {
	color: var(--color-3);
}

.duas-colunas {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.duas-colunas-botoes {
	display: flex;
	margin-top: 15px;
	flex-direction: row;
	justify-content: space-around;
}

#box-imagens .duas-colunas-botoes {
	width: 400px;
	margin-top: 10px;
}

#acao-img {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 80px;
	cursor: pointer;
}

#div-select-tags {
	display: flex;
	width: 45%;
}

#dropdown-options-tags {
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: var(--primary-color);
	color: var(--color-1);
	margin-top: 40px;
	max-width: 300px;
	max-height: 150px;
	overflow: hidden auto;
	border-radius: 5px;
}

.option {
	display: flex;
	padding: 5px 10px;
	justify-content: space-between;
}

.option:hover {
	background-color: var(--table-hover);
	color: var(--color-4);
}

#check-option {
	display: none;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
}

#search-tags {
	width: 90%;
	margin-bottom: 0;
}

#select-tags {
	display: none;
}

#btn-select-tags {
	background-color: var(--secondary-color);
}
