* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

input[type="text"] {
	padding: 1px 0;
}

#box-header {
	height: 17vh;
}

#box-conteudo {
	height: 83vh;
}

#coluna-pedido {
	padding-left: 30px;
	justify-content: left;
	width: 55%;
}

#coluna-detalhes {
	width: 15%;
	cursor: pointer;
}

#coluna-total {
	width: 15%;
}

#coluna-data {
	width: 15%;
}

td {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
}

tr {
	display: flex;
}

/* Popup Detalhes */
#popup-conteudo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-table {
	width: 100%;
}

.div-thead {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--primary-color);
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.div-tbody {
	height: 150px;
	overflow-y: auto;
}

.span-th {
	text-align: center;
}

.span-td {
	text-align: center;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
}

.span-td a {
	color: var(--color-3);
}

.span-tr {
	display: flex;
	height: 30px;
	width: 100%;
}

#qntd-produto {
	width: 15%;
}

#nome-produto.span-td,
#nome-produto.span-th {
	width: 55%;
	padding-left: 20px;
	text-align: left;
}

#valor-produto {
	width: 30%;
}

#separador-popup {
	width: 100%;
	margin: 10px 0;
	height: 2px;
	background-color: var(--primary-color);
}

#box-valor-total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	font-family: var(--font);
	font-size: 16px;
}
